In [1]:
import pandas as pd
data = pd.read_csv("student_data.csv")

In [2]:
data

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
..     ...  ...   ...   ...
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

## normalization

we should normalize the quantitative data

In [3]:
print(data.gre.max())
print(data.gpa.max())

800
4.0

In [4]:
data.gre /= data.gre.max()
data.gpa /= data.gpa.max()

In [5]:
print(data.gre.max())
print(data.gpa.max())

1.0
1.0

## categories

we should mark the categorical data as categories for keras\
we are going to use a function in keras' utils module

In [6]:
import keras
import numpy as np

In [7]:
X = np.array(data)[:, 1:]
X.shape

(400, 3)

In [8]:
y = keras.utils.to_categorical(np.array(data["admit"]))
y.shape # extra column due to (0, 1) cateogries

(400, 2)

In [9]:
model = keras.Sequential()

model.add(keras.Input(X.shape[1])) assumes input_dim = 3
model.add(keras.layers.Dense(32))
model.add(keras.layers.Dense(64)) # expanding and then contracting
model.add(keras.layers.Dense(32))
model.add(keras.layers.Dense(2)) # this layer's out has to be 2 because we assumed categorical with 2 cats
model.add(keras.layers.Activation("softmax")) # softmax would make more sense than sigmoid

model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
model.summary()

WARNING:tensorflow:Please add `keras.layers.InputLayer` instead of `keras.Input` to Sequential model. `keras.Input` is intended to be used by Functional model.
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                128
_________________________________________________________________
dense_1 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 66
_________________________________________________________________
activation (Activation)      (None, 2)                 0
=================================================================
Total params: 4,386
Trainable params: 4,386
Non-trainable params: 0
_________________________________________________________________

In [10]:
model.fit(X, y, epochs=1000, batch_size=100, verbose=0)

In [11]:
model.evaluate(X, y) # now let's see the train accurary

13/13 [==============================] - 0s 584us/step - loss: 0.5745 - accuracy: 0.7050

[0.5744736194610596, 0.7049999833106995]